//Variable Responsive
$MobileMedia: "(min-width:320px) and (max-width:575px)";
$mediumMedia: "(min-width:576px) and (max-width:767px)";
$largeMedia: "(min-width:768px) and (max-width:991px)";
$XlargeMedia: "(min-width:992px) and (max-width:1999px)";

//Variables Colors
$Colorblack : black;
$Color_FFF  : #FFF;
$Color_CCC  : #CCC;
$Color_1    : #f8f9fa;

$FirstColor: rgb(255, 0, 0);
$SecondColor: #9c9c9c;